In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
#
%matplotlib inline

In [7]:
# io
city_data = "resources/city_data.csv"
city_data_df = pd.read_csv(city_data)
ride_data = "resources/ride_data.csv" 
ride_data_df = pd.read_csv(ride_data)
#
city_data_df, ride_data_df

(                city  driver_count   type
 0        Richardfort            38  Urban
 1       Williamsstad            59  Urban
 2        Port Angela            67  Urban
 3         Rodneyfort            34  Urban
 4        West Robert            39  Urban
 ..               ...           ...    ...
 115     Bradshawfurt             7  Rural
 116     New Ryantown             2  Rural
 117   Randallchester             9  Rural
 118      Jessicaport             1  Rural
 119  South Saramouth             7  Rural

 [120 rows x 3 columns],
                     city                 date   fare        ride_id
 0     Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
 1     South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
 2     Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
 3             Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
 4             South Jack  2019-03-06 04:28:35  34.58  3908451377344
 ...                  ...                  ...    ...            ...
 2370         Michaelberg  2019-04-29 17:04:39  13.38  8550365057598
 2371     Lake Latoyabury  2019-01-30 00:05:47  20.76  9018727594352
 2372         North Jaime  2019-02-10 21:03:50  11.11  2781339863778
 2373        West Heather  2019-05-07 19:22:15  44.94  4256853490277
 2374          Newtonview  2019-04-25 10:20:13  55.84  9990581345298

 [2375 rows x 4 columns])

In [8]:
# explore data in pandas
city_data_df.count(), ride_data_df.count()

(city            120
 driver_count    120
 type            120
 dtype: int64,
 city       2375
 date       2375
 fare       2375
 ride_id    2375
 dtype: int64)

In [9]:
# are there nulls?
city_data_df.isnull().sum(), ride_data_df.isnull().sum()

(city            0
 driver_count    0
 type            0
 dtype: int64,
 city       0
 date       0
 fare       0
 ride_id    0
 dtype: int64)

In [13]:
# data types in each files
city_data_df.dtypes, ride_data_df.dtypes

(city            object
 driver_count     int64
 type            object
 dtype: object,
 city        object
 date        object
 fare       float64
 ride_id      int64
 dtype: object)

In [26]:
# unique data in city data
print(city_data_df["type"].unique())
print(f"no. of Urban\t{sum(city_data_df['type'] == 'Urban')}")
print(f"no. of Rural\t{sum(city_data_df['type'] == 'Rural')}")
print(f"no. of Suburban\t{sum(city_data_df['type'] == 'Suburban')}")

['Urban' 'Suburban' 'Rural']
no. of Urban	66
no. of Rural	18
no. of Suburban	36

In [30]:
pyber_data_df = pd.merge(city_data_df, ride_data_df, how="left", on=["city", "city"])
pyber_data_df

,city,driver_count,type,date,fare,ride_id
0,Richardfort,38,Urban,2019-02-24 08:40:38,13.93,5628545007794
1,Richardfort,38,Urban,2019-02-13 12:46:07,14.00,910050116494
2,Richardfort,38,Urban,2019-02-16 13:52:19,17.92,820639054416
3,Richardfort,38,Urban,2019-02-01 20:18:28,10.26,9554935945413
4,Richardfort,38,Urban,2019-04-17 02:26:37,23.00,720020655850
...,...,...,...,...,...,...
2370,Jessicaport,1,Rural,2019-01-31 17:57:25,58.29,623154556195
2371,South Saramouth,7,Rural,2019-02-20 16:32:36,44.29,3622365199969
2372,South Saramouth,7,Rural,2019-01-28 15:55:33,31.25,7118046558393
2373,South Saramouth,7,Rural,2019-03-27 21:07:16,11.87,170351888128
2374,South Saramouth,7,Rural,2019-04-12 18:11:50,57.23,5081198789583